---
layout: archive
title: "Experience"
permalink: /experience/
author_profile: true
---

{% raw %}
<!--{% if site.talkmap_link == true %} -->
<!--<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>-->
{% endif %}

<div class="wordwrap">


  <h3>Penn State Association for Computing Machinery Webmaster</h3>
  <p><strong>Duration:</strong> Spring 2023<br>
  <strong>Institution:</strong> The Pennsylvania State University</p>

  <ul>
    <li>Designed and developed the PSU ACM's website, focusing on user experience and engaging design.</li>
    <li>Organized diverse content, ensuring timely updates and relevant information for the computing community.</li>
    <li>Applied technical expertise to resolve issues promptly, enhancing website performance, security, and accessibility.</li>
  </ul>

  <h3>Course Assistant for CS233 Computer Architecture</h3>
  <p><strong>Duration:</strong> Fall 2024<br>
    <strong>Institution:</strong> Siebel School of Computing and Data Science</p>

  <ul>
    <li>Assisted students with in-class group activities</li>
    <li>Held regular office hours and conducted exam review sessions</li>
    <li>Updated and maintained course materials on the website</li>
  </ul>
</div>


{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
{% endraw %}