---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% if site.author.googlescholar %}
  <!--<div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div> -->
{% endif %}
<div class="wordwrap">
  <h2>Current Research Projects</h2>

  <h3>Chatbots for Mental Health Self-Management</h3>
  <p><strong>Duration:</strong> Feb 2024 - Present<br>

  <ul>
    <li>Designed and developed Zenny, an LLM-powered chatbot tailored for depression self-management, integrating OpenAI's API, enhancing user engagement and effectiveness in mental health support.</li>
    <li>Facilitated interviews with participants to explore their interactions with Zenny across various scenarios, followed by qualitative coding of transcripts to analyze user feedback and improve chatbot responses.</li>
    <li>Analyzed user interactions and feedback, focusing on the chatbot's role in promoting mental well-being and its potential application in broader mental health care solutions.</li>
  </ul>

  <h3>Caregivers Mental Well-being</h3>
  <p><strong>Duration:</strong> June 2024 - Present</p>

  <ul>
    <li>Conducted an in-depth literature review to understand caregivers' current mental health issues and their needs, providing a foundation for targeted research.</li>
    <li>Facilitated interviews with caregivers to explore their concerns about mental health categories, followed by qualitative coding of transcriptions to analyze their use of technology in caregiving and mental health management practices.</li>
    <li>Identified opportunities for enhancing technology to better support caregivers' mental health and caregiving abilities, getting recommendations for future development and application.</li>
  </ul>
</div>
{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


